### Null Handling in SQL

In [1]:
%load_ext sql
%sql mysql+mysqlconnector://root:mysql@localhost

In [3]:
%%sql

show databases;

 * mysql+mysqlconnector://root:***@localhost
8 rows affected.

[('de_db',),
 ('de_projects',),
 ('information_schema',),
 ('mysql',),
 ('performance_schema',),
 ('sample_db',),
 ('sys',),
 ('uber',)]

In [5]:
%%sql

use de_projects;

 * mysql+mysqlconnector://root:***@localhost
0 rows affected.

[]

In [6]:
%%sql

show tables;

 * mysql+mysqlconnector://root:***@localhost
13 rows affected.

[('basic_table',),
 ('case_table',),
 ('check_tab',),
 ('composite_key',),
 ('def_table',),
 ('dep_stud',),
 ('for_key_tab',),
 ('new_table',),
 ('not_null_cons',),
 ('pri_tab',),
 ('retail',),
 ('tab_w_cons',),
 ('unique_table',)]

## Count the number of rows containing null values 
### Null store as two ways
#### 1. It store as NULL (actual null in SQL with no quotes)
#### 2. It store as 'Null' (It is a string value)

## Using the existing table for Null handling

In [41]:
%%sql

select * from case_table;

 * mysql+mysqlconnector://root:***@localhost
10 rows affected.

[(1, 'sam', '1234567890', 'abc@gmail.com'),
 (2, 'ram', '1987654321', 'bcd@gmail.com'),
 (3, 'lauara', None, 'def@gmail.com'),
 (4, 'jason', None, 'efg@gmail.com'),
 (5, 'joe', None, 'fgh@gmail.com'),
 (6, 'raj', None, None),
 (7, 'alex', None, None),
 (8, 'Null', '8907653452', 'hji@gmail.com'),
 (9, 'Joshik', None, 'null'),
 (10, 'NULL', None, 'ADC@gmail.com')]

### Handling String Null values: Replacing String 'Null' values with actual NULL values using case when statement

In [48]:
%%sql

select 
    case
        when name in ("NULL", "Null", "null") or name is null then NULL
    else name
    end as cleaned_name,
    case
        when ph_no in ("NULL", "Null", "null") or ph_no is null then NULL
    else ph_no
    end as cleaned_phone_num,
    case
        when email in ("NULL", "Null", "null") or email is null then NULL
    else email
    end as cleaned_email
from case_table;

 * mysql+mysqlconnector://root:***@localhost
10 rows affected.

[('sam', '1234567890', 'abc@gmail.com'),
 ('ram', '1987654321', 'bcd@gmail.com'),
 ('lauara', None, 'def@gmail.com'),
 ('jason', None, 'efg@gmail.com'),
 ('joe', None, 'fgh@gmail.com'),
 ('raj', None, None),
 ('alex', None, None),
 (None, '8907653452', 'hji@gmail.com'),
 ('Joshik', None, None),
 (None, None, 'ADC@gmail.com')]

## Creating the temporary table to get cleaned dataset

In [51]:
%%sql

create temporary table case_null
select 
    case
        when name in ("NULL", "Null", "null") or name is null then NULL
    else name
    end as cleaned_name,
    case 
        when ph_no in ("NULL", "Null", "null") or ph_no is null then NULL
    else ph_no 
    end as cleaned_phone_num,
    case 
        when email in ("NULL", "Null", "null") or email is null then NULL
    else email
    end as cleaned_email
from case_table;

 * mysql+mysqlconnector://root:***@localhost
10 rows affected.

[]

In [65]:
%%sql

create temporary table cleaned_case_table
select cleaned_name,
        cleaned_phone_num,
        cleaned_email, 
        coalesce (cleaned_name, "no name") as name,
        coalesce (cleaned_phone_num, "no ph num") as ph_num,
        coalesce (cleaned_email, "no email") as email
from case_null;

 * mysql+mysqlconnector://root:***@localhost
10 rows affected.

[]

In [66]:
%%sql

select * from cleaned_case_table;

 * mysql+mysqlconnector://root:***@localhost
10 rows affected.

[('sam', '1234567890', 'abc@gmail.com', 'sam', '1234567890', 'abc@gmail.com'),
 ('ram', '1987654321', 'bcd@gmail.com', 'ram', '1987654321', 'bcd@gmail.com'),
 ('lauara', None, 'def@gmail.com', 'lauara', 'no ph num', 'def@gmail.com'),
 ('jason', None, 'efg@gmail.com', 'jason', 'no ph num', 'efg@gmail.com'),
 ('joe', None, 'fgh@gmail.com', 'joe', 'no ph num', 'fgh@gmail.com'),
 ('raj', None, None, 'raj', 'no ph num', 'no email'),
 ('alex', None, None, 'alex', 'no ph num', 'no email'),
 (None, '8907653452', 'hji@gmail.com', 'no name', '8907653452', 'hji@gmail.com'),
 ('Joshik', None, None, 'Joshik', 'no ph num', 'no email'),
 (None, None, 'ADC@gmail.com', 'no name', 'no ph num', 'ADC@gmail.com')]

In [70]:
%%sql

alter table cleaned_case_table drop column cleaned_name, drop column cleaned_phone_num, drop column cleaned_email;

 * mysql+mysqlconnector://root:***@localhost
10 rows affected.

[]

In [71]:
%%sql

desc cleaned_case_table;

 * mysql+mysqlconnector://root:***@localhost
3 rows affected.

[('name', 'varchar(50)', 'NO', '', '', 'NULL'),
 ('ph_num', 'varchar(10)', 'NO', '', '', 'NULL'),
 ('email', 'varchar(50)', 'NO', '', '', 'NULL')]

### Cleaned data

In [72]:
%%sql

select * from cleaned_case_table;

 * mysql+mysqlconnector://root:***@localhost
10 rows affected.

[('sam', '1234567890', 'abc@gmail.com'),
 ('ram', '1987654321', 'bcd@gmail.com'),
 ('lauara', 'no ph num', 'def@gmail.com'),
 ('jason', 'no ph num', 'efg@gmail.com'),
 ('joe', 'no ph num', 'fgh@gmail.com'),
 ('raj', 'no ph num', 'no email'),
 ('alex', 'no ph num', 'no email'),
 ('no name', '8907653452', 'hji@gmail.com'),
 ('Joshik', 'no ph num', 'no email'),
 ('no name', 'no ph num', 'ADC@gmail.com')]

## Handling Null values in more than one column

In [30]:
%%sql

# Filtering or Counting null rows 
select count(*) as Non_Null_rows 
from de_projects.case_table 
where ph_no = "Null" or ph_no = "NULL" or ph_no = "null" or ph_no is null
or name = "Null" or name = "NULL" or name = "null" or name is null
or email = "Null" or email = "NULL" or email = "null" or email is null;

 * mysql+mysqlconnector://root:***@localhost
1 rows affected.

[(8,)]

## Replace null value with some other value: with the coalesce keyword

In [25]:
%%sql

select name, ph_no, email, coalesce (ph_no, 'not mentioned') from case_table;

 * mysql+mysqlconnector://root:***@localhost
10 rows affected.

[('sam', '1234567890', 'abc@gmail.com', '1234567890'),
 ('ram', '1987654321', 'bcd@gmail.com', '1987654321'),
 ('lauara', None, 'def@gmail.com', 'not mentioned'),
 ('jason', None, 'efg@gmail.com', 'not mentioned'),
 ('joe', None, 'fgh@gmail.com', 'not mentioned'),
 ('raj', None, None, 'not mentioned'),
 ('alex', None, None, 'not mentioned'),
 ('Null', '8907653452', 'hji@gmail.com', '8907653452'),
 ('Joshik', None, 'null', 'not mentioned'),
 ('NULL', None, 'ADC@gmail.com', 'not mentioned')]

### IFNULL function for null handling: only one column value can be replaced and two arguments are allowed i.e. (expression, default_value)
### COALESCSE: Returns the first Non-Null value from the list and allows many arguments

In [26]:
%%sql

select name, ph_no, email, ifnull (email, 'not included') from case_table;

 * mysql+mysqlconnector://root:***@localhost
10 rows affected.

[('sam', '1234567890', 'abc@gmail.com', 'abc@gmail.com'),
 ('ram', '1987654321', 'bcd@gmail.com', 'bcd@gmail.com'),
 ('lauara', None, 'def@gmail.com', 'def@gmail.com'),
 ('jason', None, 'efg@gmail.com', 'efg@gmail.com'),
 ('joe', None, 'fgh@gmail.com', 'fgh@gmail.com'),
 ('raj', None, None, 'not included'),
 ('alex', None, None, 'not included'),
 ('Null', '8907653452', 'hji@gmail.com', 'hji@gmail.com'),
 ('Joshik', None, 'null', 'null'),
 ('NULL', None, 'ADC@gmail.com', 'ADC@gmail.com')]

In [33]:
%%sql
create temporary table cleaned_table
select name, ph_no, email, 
coalesce (name, 'no name'),
coalesce (ph_no, 'no phone number'),
coalesce (email, 'no email') as cleaned from case_table;

 * mysql+mysqlconnector://root:***@localhost
10 rows affected.

[]

In [73]:
%%sql

select * from cleaned_table;

 * mysql+mysqlconnector://root:***@localhost
10 rows affected.

[('sam', '1234567890', 'abc@gmail.com', 'sam', '1234567890', 'abc@gmail.com'),
 ('ram', '1987654321', 'bcd@gmail.com', 'ram', '1987654321', 'bcd@gmail.com'),
 ('lauara', None, 'def@gmail.com', 'lauara', 'no phone number', 'def@gmail.com'),
 ('jason', None, 'efg@gmail.com', 'jason', 'no phone number', 'efg@gmail.com'),
 ('joe', None, 'fgh@gmail.com', 'joe', 'no phone number', 'fgh@gmail.com'),
 ('raj', None, None, 'raj', 'no phone number', 'no email'),
 ('alex', None, None, 'alex', 'no phone number', 'no email'),
 ('Null', '8907653452', 'hji@gmail.com', 'Null', '8907653452', 'hji@gmail.com'),
 ('Joshik', None, 'null', 'Joshik', 'no phone number', 'null'),
 ('NULL', None, 'ADC@gmail.com', 'NULL', 'no phone number', 'ADC@gmail.com')]